.DS_Store
/.build
/Packages
Package.resolved
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/config/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
/Pod-Example/Pods
/.swiftpm
Example/build/
/build
